In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

### Step 1: Figure out the start point - what does our (raw) data look like now?

In [5]:
df = pd.read_csv('Final_Report_of_the_Asian_American_Quality_of_Life__AAQoL_.csv')

In [6]:
df

,Survey ID,Age,Gender,Ethnicity,Marital Status,Education Completed,Household Size,No One,Spouse,Children,...,Other Description (Non-city-based Ethnic),Paper (Non-city-based General),TV/Radio (Non-city-based General),Website (Non-city-based General),Social Networks (Non-city-based General),People (Non-city-based General),Other (Non-city-based General),Other Description (Non-city-based General),Preferred Type,Concerns
0,80314,NaN,NaN,Vietnamese,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,60171,60.0,Male,Chinese,Married,13.0,6.0,0,0,Living with children,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1011601,23.0,Female,Chinese,Single,16.0,3.0,0,0,0,...,NaN,No,No,No,No,Yes,No,NaN,email,traffic
3,50046,73.0,Female,Chinese,Other,13.0,1.0,Living with no one,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,10494,29.0,Male,Asian Indian,Single,17.0,1.0,Living with no one,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2604,40223,70.0,Female,Other,Single,17.0,5.0,0,0,Living with children,...,NaN,Yes,No,Yes,No,Yes,No,NaN,newsletter,NaN
2605,10330,68.0,Male,Other,Married,17.0,2.0,0,Living with spouse,0,...,NaN,No,Yes,No,No,Yes,No,NaN,email,NaN
2606,11081000,76.0,Female,Filipino,Single,13.0,7.0,0,0,Living with children,...,0,No,No,No,No,No,No,0,mail,traffic
2607,10953000,50.0,Male,Filipino,Single,17.0,4.0,0,Living with spouse,0,...,NaN,No,No,Yes,No,No,No,NaN,website,NaN
2608,10945000,21.0,Female,Filipino,Single,14.0,7.0,0,0,0,...,NaN,No,No,No,No,Yes,No,NaN,newspaper,traffic

In [8]:
new_colnames = [i.lower() for i in df.columns]
new_colnames = [i.replace(" ","_") for i in new_colnames]
asian = df.copy()
asian.columns = new_colnames

In [9]:
asian

,survey_id,age,gender,ethnicity,marital_status,education_completed,household_size,no_one,spouse,children,...,other_description_(non-city-based_ethnic),paper_(non-city-based_general),tv/radio_(non-city-based_general),website_(non-city-based_general),social_networks_(non-city-based_general),people_(non-city-based_general),other_(non-city-based_general),other_description_(non-city-based_general),preferred_type,concerns
0,80314,NaN,NaN,Vietnamese,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,60171,60.0,Male,Chinese,Married,13.0,6.0,0,0,Living with children,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1011601,23.0,Female,Chinese,Single,16.0,3.0,0,0,0,...,NaN,No,No,No,No,Yes,No,NaN,email,traffic
3,50046,73.0,Female,Chinese,Other,13.0,1.0,Living with no one,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,10494,29.0,Male,Asian Indian,Single,17.0,1.0,Living with no one,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2604,40223,70.0,Female,Other,Single,17.0,5.0,0,0,Living with children,...,NaN,Yes,No,Yes,No,Yes,No,NaN,newsletter,NaN
2605,10330,68.0,Male,Other,Married,17.0,2.0,0,Living with spouse,0,...,NaN,No,Yes,No,No,Yes,No,NaN,email,NaN
2606,11081000,76.0,Female,Filipino,Single,13.0,7.0,0,0,Living with children,...,0,No,No,No,No,No,No,0,mail,traffic
2607,10953000,50.0,Male,Filipino,Single,17.0,4.0,0,Living with spouse,0,...,NaN,No,No,Yes,No,No,No,NaN,website,NaN
2608,10945000,21.0,Female,Filipino,Single,14.0,7.0,0,0,0,...,NaN,No,No,No,No,Yes,No,NaN,newspaper,traffic

In [10]:
asian = asian[['income', 'retired', 'us_born', 'english_speaking', 'english_difficulties', 'ethnicity','age', 'regular_exercise', 'healthy_diet', 'heart_disease', 'drinking', 'smoking',
               'cancer', 'health_insurance', 'physical_check-up', 'quality_of_life', 'religion', 'gender', 'close_friends', 'discrimination_', 'duration_of_residency', 'household_size',
              'education_completed']]
asian

,income,retired,us_born,english_speaking,english_difficulties,ethnicity,age,regular_exercise,healthy_diet,heart_disease,...,health_insurance,physical_check-up,quality_of_life,religion,gender,close_friends,discrimination_,duration_of_residency,household_size,education_completed
0,NaN,NaN,NaN,NaN,NaN,Vietnamese,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"$30,000 - $39,999",Retired,No,Not at all,Not much,Chinese,60.0,NaN,NaN,NaN,...,NaN,NaN,NaN,Buddhist,Male,NaN,NaN,0.5,6.0,13.0
2,"$0 - $9,999",0,No,Well,Much,Chinese,23.0,0.0,1.0,0.0,...,0,Yes,8.0,Buddhist,Female,4.0,0.0,11.0,3.0,16.0
3,NaN,Retired,No,Not well,NaN,Chinese,73.0,1.0,1.0,0.0,...,Yes,0,NaN,Protestant,Female,NaN,0.0,50.0,1.0,13.0
4,NaN,0,No,Well,Very much,Asian Indian,29.0,0.0,NaN,NaN,...,NaN,NaN,NaN,Hindu,Male,NaN,NaN,7.0,1.0,17.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2604,"$30,000 - $39,999",Retired,No,Well,Not much,Other,70.0,1.0,1.0,0.0,...,Yes,Yes,8.0,Buddhist,Female,2.0,0.0,44.0,5.0,17.0
2605,"$60,000 - $69,999",Retired,No,Well,Not at all,Other,68.0,1.0,1.0,0.0,...,Yes,Yes,9.0,Buddhist,Male,3.0,0.0,46.0,2.0,17.0
2606,"$10,000 - $19,999",0,No,Well,Much,Filipino,76.0,0.0,0.0,0.0,...,Yes,Yes,6.0,Catholic,Female,2.0,1.0,30.0,7.0,13.0
2607,"$10,000 - $19,999",0,No,Not well,Much,Filipino,50.0,1.0,1.0,0.0,...,Yes,Yes,6.0,Catholic,Male,3.0,0.0,20.0,4.0,17.0
2608,"$70,000 and over",0,Yes,Very well,Very much,Filipino,21.0,0.0,1.0,0.0,...,Yes,Yes,8.0,Catholic,Female,2.0,1.0,21.0,7.0,14.0

In [13]:
asian = asian.rename(columns = {'discrimination_':'discrimination', 'physical_check-up':'physical_checkup'})
asian

,income,retired,us_born,english_speaking,english_difficulties,ethnicity,age,regular_exercise,healthy_diet,heart_disease,...,health_insurance,physical_checkup,quality_of_life,religion,gender,close_friends,discrimination,duration_of_residency,household_size,education_completed
0,NaN,NaN,NaN,NaN,NaN,Vietnamese,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"$30,000 - $39,999",Retired,No,Not at all,Not much,Chinese,60.0,NaN,NaN,NaN,...,NaN,NaN,NaN,Buddhist,Male,NaN,NaN,0.5,6.0,13.0
2,"$0 - $9,999",0,No,Well,Much,Chinese,23.0,0.0,1.0,0.0,...,0,Yes,8.0,Buddhist,Female,4.0,0.0,11.0,3.0,16.0
3,NaN,Retired,No,Not well,NaN,Chinese,73.0,1.0,1.0,0.0,...,Yes,0,NaN,Protestant,Female,NaN,0.0,50.0,1.0,13.0
4,NaN,0,No,Well,Very much,Asian Indian,29.0,0.0,NaN,NaN,...,NaN,NaN,NaN,Hindu,Male,NaN,NaN,7.0,1.0,17.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2604,"$30,000 - $39,999",Retired,No,Well,Not much,Other,70.0,1.0,1.0,0.0,...,Yes,Yes,8.0,Buddhist,Female,2.0,0.0,44.0,5.0,17.0
2605,"$60,000 - $69,999",Retired,No,Well,Not at all,Other,68.0,1.0,1.0,0.0,...,Yes,Yes,9.0,Buddhist,Male,3.0,0.0,46.0,2.0,17.0
2606,"$10,000 - $19,999",0,No,Well,Much,Filipino,76.0,0.0,0.0,0.0,...,Yes,Yes,6.0,Catholic,Female,2.0,1.0,30.0,7.0,13.0
2607,"$10,000 - $19,999",0,No,Not well,Much,Filipino,50.0,1.0,1.0,0.0,...,Yes,Yes,6.0,Catholic,Male,3.0,0.0,20.0,4.0,17.0
2608,"$70,000 and over",0,Yes,Very well,Very much,Filipino,21.0,0.0,1.0,0.0,...,Yes,Yes,8.0,Catholic,Female,2.0,1.0,21.0,7.0,14.0

### Research question(s)

Clearly states complex research question(s) that leads to significant potential for interesting analyses.

---

1. Scatterplot between `duration_of_residency` and `close_friends` would tell us

In [ ]:
plt.scatter(asian['education_completed'], asian['duration_of_residency'])

In [ ]:
#plt.hist(asian['ethnicity'])
freq = pd.crosstab(index=asian['ethnicity'], columns='count')

In [ ]:
plt.bar(asian['ethnicity'], height = freq['count'])

In [ ]:
asian['ethnicity'].isnull()

In [ ]:
bool_nans = asian['income'].isnull()
print(bool_nans)
# count(bool_nans = 'True')
# print(bool_nans == 'True')

# asian['income']

In [ ]:
#changing english_speaking column to be represented by floats
asian['english_speaking'].replace({'Not at all': 1, 'Not well': 2, 'Well': 3, 'Very well': 4}, inplace = True)
asian['english_speaking'] = asian['english_speaking'].astype(float, errors = 'raise')
#replacing NaNs with 0
asian['english_speaking'] = asian['english_speaking'].fillna(0)
    
# changing english_difficulties column to be represented by floats
asian['english_difficulties'].replace({'Not at all': 1, 'Not much': 2, 'Much': 3, 'Very much': 4}, inplace = True)
#replacing NaNs with 0
asian['english_difficulties'] = asian['english_difficulties'].fillna(0)

# changing retired column to to be represented by floats
asian["retired"].replace({"Retired": 1}, inplace=True)
asian["retired"] = asian["retired"].astype(float, errors='raise')
#replacing NaNs with 0
asian['retired'] = asian['retired'].fillna(0)

# changing us_born column to to be represented by floats
asian["us_born"].replace({"No": 0, "Yes": 1}, inplace=True)
#replacing NaNs with 0
asian['us_born'] = asian['us_born'].fillna(0)

asian.head()

In [ ]:
# fixing income column to type float 
# type(asian['income'][1])
asian['income'][1]

def fix_string(s):
    pos_dash = s.find('-')
    first = s[:pos_dash - 1]
    print(first)
    first= first.replace('$', '')
    first = first.replace(',', '')
    print(first)
    
    second = s[pos_dash + 2:] #kinda hard coding so might need a new way to do this
    print(len(second))
#     second = second.strip
    second = second.replace('$', '')
    second = second.replace(',', '')
    print(second)
    
    first = float(first)
    second=  float(second)
    
    first_w_second = [first, second]
    s = sum(first_w_second)/len(first_w_second)
    print(s)
#     return average
    
# asian.loc[:, asian['income']]
    
    
[fix_string(x) for x in asian['income']]

fix_string('$30,000 - $39,999')

In [4]:
asian['income']

NameError: name 'asian' is not defined

In [15]:
#
asian[asian['physical_checkup'].isnull()] = 0
asian[asian['physical_checkup'] == "Yes"] = 1
asian['physical_checkup']

0       0
1       0
2       1
3       0
4       0
       ..
2604    1
2605    1
2606    1
2607    1
2608    1
Name: physical_checkup, Length: 2609, dtype: object

---

### Step 2: Set analysis goals - what kind of analyses might we want to run based on the available data?

### Step 3: Define the end point - what form do we want the data in for analysis?

### Step 4: Make a task list - what do we need to do to get our data from the start to the end point?